@page "/"
@inherits LoginPageModel

<PageTitle>Index</PageTitle>

<AuthorizeView>
	<Authorized>
		<p>Grattis balla!</p>
	</Authorized>

	<NotAuthorized>
		<LoginComponent OnLogin="Login" ErrorMessage="@ErrorMessage" OnTextChanged="ClearErrorMessage"/>
	</NotAuthorized>
</AuthorizeView>